.ice-layout {
  .ice-layout-aside.custom-aside {
    // background: #bedcfe;
     background: #cbe1f9;
    //box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
    .aside-logo {
      //box-shadow: 0 1px 4px rgba(0, 21, 41, 0.5);
      //display: flex;
      //align-items: flex-start;
      //justify-content: flex-start;
      display: flex;
      flex-grow:2;
      justify-content:flex-end;
      // background: #fff;
      float: left;
      margin-top: 20px;
    }
    .custom-menu {
      //height: 100vh;
      height:80px;
      padding-top: 20px;
      border-radius: 6px;
      display: flex;
      align-content: center;
      justify-content:center;
      //box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      flex-grow:6;
      background: none;
      .next-menu-sub-menu {
        background: #2c2e39;
        .next-menu-item {
          -webkit-font-smoothing: antialiased;
        }
      }
      .next-menu-item {
        line-height: 40px;
      }
     /* .next-selected {
        background: #447eff;
      }*/
    }
  }
}
