/*Btn全局樣式Starting*/
.next-btn.next-large.next-btn-secondary.btn-all{ height: 28px; background-color: #E2EDFF; border-color: #A3D0FD; color: #1989FA; border-radius: 6px;}
.next-btn.next-large.next-btn-secondary.btn-all:hover{ background-color: #225AE1; color: #FFFFFF;}
/*Btn全局樣式Ending*/
.backstageworkorder{ display: flex; width: 100%;min-height: 100%; justify-items: center; margin-top: -20px; margin-left: -20px;}
/*
.leftheader{ width: 100px; height: 100%; background: #1A55E2;}
.leftheader .header-logo{ width: 100px; padding: 20px; background: #173FA4;}
.leftheader .header-logo:hover .logo-element{  -webkit-transform: translateX(5px);transform: translateX(5px);}
.leftheader .header-logo:hover .logo-element:after{-webkit-transform: translateX(-10px);transform: translateX(-10px);}
.leftheader .header-logo .logo-element {content: "";width: 30px;height: 30px;border-radius: 15px;position: relative;background-color: #98c9fd;display: inline-block;vertical-align: middle;margin-right: 20px;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.leftheader .header-logo .logo-element:after {content: "";width: 30px;height: 30px;background-color: #fff;border-radius: 15px;right: -20px;position: absolute;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}*/

.backstageworkorder-box{ width: 300px; background: #F2F4F8; border-right: 1px solid rgba(0, 0, 0, 0.05);}

.chat-list{ display: flex; align-items: center; justify-items: center; height: 68px; background: #fff}
.chat-list .chat-list-box{ width: 50%; display: flex; align-items: center; justify-items: center; text-align: center; justify-content: center; font-size: 14px; cursor: pointer;}
.chat-list .chat-list-box span{ margin-left: 10px;}
.chat-list .chat-list-box.color{ color: rgba(26,85,226,0.95);}

/* nav样式 */
/* ***** 客服界面 */
.user-list{ border-top: 1px solid rgba(0, 0, 0, 0.05);}
.user-list .user-w {display: -webkit-box;display: -ms-flexbox;display: flex;padding: 20px 30px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;border-bottom: 1px solid rgba(0, 0, 0, 0.05);-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.user-list .user-w .avatar {margin-right: 20px;-webkit-box-flex: 0;-ms-flex: 0 0 50px;flex: 0 0 50px;}
.user-list .user-w .avatar img {width: 50px;height: auto;border-radius: 50px;display: block;}
.user-list .user-w .user-info {-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;}
.user-list .user-w .user-name {font-weight: 500;font-size: 0.99rem;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.user-list .user-w .last-message {color: rgba(0, 0, 0, 0.4);font-size: 0.81rem;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.user-list .user-w .user-date {float: right;padding: 2px 7px;border-radius: 12px;font-size: 0.72rem;color: #1A55E2;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.user-list .user-w:hover {background-color: #047bf8;cursor: pointer;}
.user-list .user-w:hover .user-name {color: #fff;}
.user-list .user-w:hover .last-message {color: rgba(255, 255, 255, 0.5); margin-top: 5px;}
.user-list .user-w:hover .user-date {background-color: #046fdf;color: rgba(255, 255, 255, 0.3);}

/* 客服界面 */
.kefu{ width: 100%; display: flex; justify-items: center;}
.kefu-main{ width: 100%; text-align: center; border-right: 1px solid rgba(187, 187, 187, 1);}
.kefu-main .kefu-main-head{ position: relative; line-height: 50px; width: 100%; font-size: 20px;border-bottom: 1px solid rgba(187, 187, 187, 1);}
.kefu-main-head .os-icon.os-icon-mail-07.left{ position: absolute; font-size: 30px; left: 10px; top: 10px; color: #047bf8;}
.kefu-main-head .os-icon.os-icon-phone-15.right{ position: absolute; font-size: 30px; right: 10px; top: 10px;color: #047bf8;}
/* 对方 */
.kefu .kefu-main-chatcontent{-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;background-color: #fff;  height: 600px;overflow-y: scroll;position: relative;}
.kefu-main-chatcontent .chat-content {padding: 50px;min-height: 600px;}
.kefu-main-chatcontent .chat-content .chat-message {text-align: left;margin-bottom: 20px;}
.kefu-main-chatcontent .chat-content .chat-message .chat-message-content {padding: 15px 35px;background-color: #fff9f0;color: #594939;max-width: 400px;display: inline-block; margin-top: 20px;margin-left: 20px;border-radius: 20px;text-align: left;}
.kefu-main-chatcontent .chat-content .chat-message .chat-message-avatar {display: inline-block;vertical-align: bottom;position: relative;}
.kefu-main-chatcontent .chat-content .chat-message .chat-message-avatar img {width: 40px;height: auto;border-radius: 30px;display: inline-block;-webkit-box-shadow: 0px 0px 0px 10px #fff;box-shadow: 0px 0px 0px 10px #fff;}
.kefu-main-chatcontent .chat-content .chat-message .chat-message-avatar div{ float: right; margin-left: 20px; margin-top: -15px;}
.kefu-main-chatcontent .chat-content .chat-message .chat-message-date {display: inline-block;vertical-align: bottom;margin-left: 10px;margin-right: 10px;font-size: 0.72rem;color: rgba(0, 0, 0, 0.3);}
/* 本人 */
.kefu-main-chatcontent .chat-content .chat-message.self {text-align: right;}
.kefu-main-chatcontent .chat-content .chat-message.self .chat-message-avatar div{ float: left; margin-right: 20px; margin-top: -15px;}
.kefu-main-chatcontent .chat-content .chat-message.self .chat-message-content {background-color: #f0f9ff;color: #2A4E7F;margin-right: 20px;margin-left: 0px;}
/* 分割线 */
.kefu-main-chatcontent .chat-date-separator {text-align: center;color: rgba(0, 0, 0, 0.3);font-size: 0.81rem;position: relative;margin: 40px 0px;}
.kefu-main-chatcontent .chat-date-separator:before {content: "";background-color: rgba(0, 0, 0, 0.1);height: 1px;width: 100%;position: absolute;top: 50%;left: 0px;right: 0px;}
/* 输入内容 */
.chat-controls {padding-top: 0;border-top: 1px solid rgba(0, 0, 0, 0.1); background: #fff; padding-bottom: 20px;}
.chat-controls .chat-input .next-input.next-input-textarea{padding: 20px 20px 20px 0px; border: none;display: block;width: 100%;outline: none; height: 100px;}
.chat-controls .chat-input .next-input.next-input-textarea textarea{ height: 100px;}
.chat-input-extra {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center; margin-top: 20px;}
.chat-input-extra .chat-extra-actions a {margin-right: 10px;display: inline-block; margin-left: 10px;}

.kefu-right{ width: 25%; display: flex; justify-items: center; align-items: center; flex-direction: column; margin-top: 40px;}
.kefu-right .administrators{ display: flex; align-items: center; justify-content: center; flex-direction: column;}
.kefu-right .administrators img{ width: 100px; height: auto;border-radius: 50%;}
.kefu-right .administrators h2{ color: #1A55E2;}

/* 全部工单 */
.wodegongdan{ width: 100%; display: flex; justify-items: center; flex-direction: column; padding: 20px;}
.wodegongdan .wodegongdan-top{ border-bottom: 1px solid rgba(187, 187, 187, 1); font-size: 20px; position: relative;}
.wodegongdan .wodegongdan-top .wodegongdan-top-border{ border-bottom: 3px solid #037cf8; width: 35px; margin-top: 10px; margin-bottom: -2px;}

.wodegongdan-conter {line-height: 20px;border-radius: 10px 10px 10px 10px;box-shadow: 0px 1px 8px 0px rgba(229, 229, 229, 0.81);border: 1px solid rgba(255, 255, 255, 0); margin-top: 20px; padding: 20px; background: #fff;}
.wodegongdan-conter-main>span{ margin-left: 20px;}
.wodegongdan-conter-main .searchbtn{
  width: 80px; margin-left: 10px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(73, 127, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);}
.wodegongdan-footer{ border-radius: 10px 10px 10px 10px;box-shadow: 0px 1px 8px 0px rgba(229, 229, 229, 0.81);border: 1px solid rgba(255, 255, 255, 0); margin-top: 20px; padding: 20px; background: #fff;}
.wodegongdan-footer .removebtn{ float: left; margin: 20px 10px; width: 71px;height: 34px;border-radius: 4px;background-color: rgba(26, 85, 226, 0.95);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: center;
  border: 1px solid rgba(255, 255, 255, 0); }
/* 工单详情 */
.wodegongdan{ background: #F2F4F8;}
.wodegongdan-step{ margin-top: 30px;}
.wodegongdan-step .next-step-arrow{ border-radius: 20px;}
.wodegongdan-table{ margin-top: 20px;}
.wodegongdan-message{ width: 100%; margin-top: 20px; padding: 10px; border-radius: 10px 10px 10px 10px;box-shadow: 0px 1px 8px 0px rgba(229, 229, 229, 0.81);border: 1px solid rgba(255, 255, 255, 0);
  display: flex; align-items: center; }
.wodegongdan-message a{ display: block; width: 30px; height: 30px; border-radius: 5px; margin-right: 10px;}
.wodegongdan-message a i{ color: #fff; font-size: 25px; padding:2px;}
.wodegongdan-pingjia{ width: 100%; padding: 20px 15px; border-radius: 10px 10px 10px 10px;box-shadow: 0px 1px 8px 0px rgba(229, 229, 229, 0.81);border: 1px solid rgba(255, 255, 255, 0); display: flex;flex-direction: column;}
.wodegongdan-pingjia.nodisplay{ display: none;}
/*.wodegongdan-pingjia div{ margin-top: 20px;}*/
.wodegongdan-pingjia .fankui span{ float: left;}
.wodegongdan-pingjia .fankui span.next-input.next-input-textarea{ width: 60%;}
.wodegongdan-pingjia .fankui Button{ margin-left: 5px; margin-top: 140px; border-radius: 5px;}

/*删除数据弹窗Starting*/
.deletedata{ position: fixed; width: 600px; height: 200px; top: 50%; left: 50%; margin-left: -300px; margin-top: -100px; z-index: 8888;
  border-radius: 6px; background-color: rgba(255, 255, 255, 1); color: rgba(16, 16, 16, 1); font-size: 14px; box-shadow: 0px 2px 6px 0px rgba(229, 229, 229, 1);
  border: 1px solid #BBBBBB; text-align: center;}
.deletedata .deletedata-top p{ display: inline-block; font-size: 16px;}
.deletedata span{display: inline-block; position: absolute; right: 15px; font-size: 30px; color: #666666; cursor: pointer;}
.deletedata .deletedata-middle{ margin: 25px 0px;}
.deletedata .deletedata-bottom{ margin-top: 20px;}
.deletedata .deletedata-bottom .next-btn.next-large.next-btn-secondary{ height: 28px; border-radius: 6px; background-color: #E2EDFF; border-color: #A3D0FD; margin-right: 15px;}
.deletedata .deletedata-bottom .next-btn.next-large.next-btn-primary{ height: 28px; border-radius: 6px; margin-left: 15px;}
.deletedata .deletedata-bottom .next-btn.next-large.next-btn-secondary:hover{ background-color: #225AE1; color: #FFFFFF;}
/*删除数据弹窗Ending*/
/* 评分 */
/*.wodegongdan-pingjia .next-form .next-row .next-col .next-rating .next-rating-base .next-rating-overlay{width: 100%; overflow: visible;}*/


/*工单次导航栏样式----starting*/
.sidebar-navone i,.sidebar-navtwo i{ padding: 0px 10px; text-align: center;}
.sidebar-navone{ width: 100%; padding: 15px 0px; text-align: center; font-size: 14px; color: #666666; border-top: 1px solid #eeeeee;}
.sidebar-navtwo{ width: 100%; padding: 15px 0px; text-align: center; font-size: 14px; color: #666666; border-top: 1px solid #eeeeee; border-bottom: 1px solid #eeeeee;}
a:hover .sidebar-navone,a:hover .sidebar-navtwo{ background:#037cf8; color: #FFFFFF; font-size: 14px; text-align: center;}
/*工单侧导航栏样式----ending*/


/* 工单 */
.dealwith-workorder{ width: 100%; height: 550px; padding:15px 15px 40px 15px; border-radius: 10px; box-shadow: 0px 1px 8px 0px rgba(229, 229, 229, 0.81); border: 1px solid rgba(255, 255, 255, 0); background: #fff;}
.dealwith-workorder.record{ width: 100%; height: 360px; padding:15px 15px 5px 15px; border-radius: 10px; box-shadow: 0px 1px 8px 0px rgba(229, 229, 229, 0.81); border: 1px solid rgba(255, 255, 255, 0); background: #fff;}
.dealwith-workorder .communicationrecord{ width: 100%; height: 350px; overflow-y: scroll;}
.communicationrecord .communicate{ padding: 10px 5px; border-bottom: 1px solid #f5f5f5}
.communicationrecord .communicate img{ width: 50px; height: 50px; border-radius: 100px;}
.communicationrecord .communicate img{ width: 50px; height: 50px; border-radius: 100px;}
.communicationrecord .communicate ul{ display: inline-block;}
.communicationrecord .communicate ul li{ line-height: 24px; padding-left: 10px;}
.communicationrecord .communicate hr{ border-color: #dddddd;}
.dealwith-workorder .next-input.next-input-textarea{ width: 100%; height: 120px; border-radius: 6px;}
.dealwith-workorder .next-input.next-input-textarea textarea{ height: 120px;}
.dealwith-workorder .submit-btn{ text-align: right; margin: 20px 0px;}
.dealwith-workorder .submit-btn .next-btn.next-large.next-btn-primary{ border-radius: 6px;}

/* 通用头部 */
.currency-top{position: relative;padding-bottom: 10px; border-bottom: 1px solid #bbbbbb; font-size: 20px;}
.currency-top .currency-top-bottombor{ border-bottom: 3px solid #037cf8; width: 35px; margin-top: 10px; margin-bottom: -12px;}
/* 发票管理 */
.invoice{ width: 100%;}
.invoice-main-top{height: 69px; border-radius: 10px 10px 10px 10px;color: rgba(16, 16, 16, 1);font-size: 14px;text-align: center;box-shadow: 0px 1px 8px 0px rgba(229, 229, 229, 0.81);
  border: 1px solid rgba(255, 255, 255, 0); margin-top: 20px;padding: 20px;}
.invoice-main-top .left{ float: left;}
.invoice-main-top .left span{ color: #6C757D; font-size: 14px;}
.invoice-main-top .right{ float: right;}
.invoice-main-top .right button{width: 80px;height: 30px;border-radius: 4px;background-color: rgba(73, 127, 255, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: center;border: 1px solid rgba(187, 218, 249, 1);}
.invoice-main-content{line-height: 20px; margin-top: 20px;border-radius: 10px 10px 10px 10px;color: rgba(16, 16, 16, 1);font-size: 14px;box-shadow: 0px 1px 8px 0px rgba(229, 229, 229, 0.81);border: 1px solid rgba(255, 255, 255, 0);}
.invoice-main-content .removebtn{ float: left; margin: 20px 10px; width: 71px;height: 34px;border-radius: 4px;background-color: rgba(26, 85, 226, 0.95);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: center;
  border: 1px solid rgba(255, 255, 255, 0); }
/* 帮助中心 */
.helpCenter{ width: 100%;}
.helpCenter-main{ padding: 20px;}
.helpCenter-main .next-input.next-medium.next-select-inner{ border-radius: 5px;}
