body {
  -webkit-font-smoothing: antialiased;
}

.ice-design-layout-dark.ice-design-layout {
  min-width: 1440px;
  // background-image: url(https://img.alicdn.com/tfs/TB1_YvwXTtYBeNjy1XdXXXXyVXa-1680-370.png);
  // background-color: #2e323f;
  // background-color: #FFF;
}

.ice-design-layout-dark {
  &.ice-design-layout {
    min-height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .ice-layout {
    width: 100%;
    min-height: 100vh;
    // padding: 0 20px;
    background: transparent;
  }

  .ice-layout-main {
    // padding: 0 0 0 10px;
    // background: #E6F1FC 100%;
  }

  .ice-layout-section {
  }
}
